.face{
	width: 250px;
}
.counter{
	font-size: 18px;
	font-family:"Open Sans","Times New Roman", Times, sans-serif;;
}
.faceText{
	font-size: 14px;
	font-family:"Open Sans","Times New Roman", Times, sans-serif;;
}